<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" ng-app="GitServer">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="index, nofollow" />
  <title>devplex.GitServer</title>
  <link rel="icon" href="@Url.Content("~/Content/images/devplex-git-icon.png")" type="image/png" />
  @Styles.Render("~/content/css")
  @Scripts.Render("~/scripts/modernizr")
</head>
  <body>
    @Html.Partial("_TopBar")
    @RenderBody()
    <div class="row">
      <div class="large-12 columns">
        <hr />
        @*<small>devplex.GitServer @Html.Version()</small>*@
        <small>devplex.GitServer 0.x.x.x</small>
      </div>
    </div>
    @Scripts.Render("~/scripts/app")
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
