<!DOCTYPE html>

<html>
<head>
  <title>devplex.GitServer</title>
  <meta name="robots" content="index, nofollow" />
  <link rel="icon" href="@Url.Content("~/Content/images/devplex-git-icon.png")" type="image/png" />
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400" rel="stylesheet" type="text/css" />
  @Styles.Render("~/content/css")
</head>
<body>
  <nav class="site-navigation">
    <a href="@Url.Action("Index", "Home")" class="logo">
      <img src="@Url.Content("~/Content/images/devplex-git-logo.png")" width="75" height="90" alt="" />
    </a>
    <ul class="no-bullets">
      <li>
        @Html.ActionLink("Help", "Index", "Help")
      </li>
    </ul>
    <div class="clearfix"></div>
  </nav>
  <section class="main">
    @RenderBody()
  </section>
  @Scripts.Render("~/scripts/app")
</body>
</html>
