<!DOCTYPE html>

<html>
<head>
  <title>devplex.GitServer</title>
  <meta name="robots" content="index, nofollow" />
  <link rel="icon" href="@Url.Content("~/Content/images/devplex-git-icon.png")" type="image/png" />
  @Styles.Render("~/content/css")
  @Scripts.Render("~/scripts/modernizr")
</head>
<body>
  @Html.Partial("_TopBar")
  @RenderBody()
  @Scripts.Render("~/scripts/app")
  <script>
    $(document).foundation();
  </script>
</body>
</html>
