@model RepositoryTreeViewModel
<table id="tree" style="width: 100%;">
  @if (Model.ParentSubPath != null)
  {
    <tr>
      <td></td>
      <td>
        @Html.ActionLink("..", "Tree", "Repository", new { branch = Model.Branch, path = string.Concat(Model.RepositoryPath, "/", Model.ParentSubPath) }, null)
      </td>
    </tr>
  }
  @foreach (var element in Model.Tree.Directories.OrderBy(x => x.Order).ThenBy(x => x.Name))
  {
    <tr>
      @if (element is TreeDirectory)
      {
        <td class="tree-icon"><i class="icon-folder-close"></i></td>
        <td>@Html.ActionLink(element.Name, "Tree", "Repository", new { branch = Model.Branch, path = string.Concat(Model.RepositoryPath, "/", element.Path) }, null)</td>
      }
      else if (element is TreeFile)
      {
        <td class="tree-icon"><i class="icon-file"></i></td>
        <td>@Html.ActionLink(element.Name, "Blob", "Repository", new { branch = Model.Branch, path = string.Concat(Model.RepositoryPath, "/", element.Path) }, null)</td>
      }
      @if (element.Commit != null && element.Commit.CommitDate.HasValue)
      {
        <td><time datetime="@element.Commit.CommitDate.Value.ToString("yyyy-MM-ddTHH:mm:ssZ")">@element.Commit.CommitDate.Value</time></td>
        <td>
          @Html.ActionLink(element.Commit.Message, "Commit", "Repository", new { branch = Model.Branch, hash = element.Commit.Hash }, null) [@element.Commit.CommitAuthor]
        </td>
      }
    </tr>
  }
</table>
