@model CommitHistoryViewModel
<div class="row">
  <div class="large-12 columns">
    <h1 class="small-headline">@Model.RepositoryPath</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <div class="section-container horizontal-nav" data-section="horizontal-nav">
      @Html.Partial("_RepositoryNavigation")
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table style="width: 100%;">
      @foreach (var commit in Model.Commits)
      {
        <tr>
          <td class="log-user-image">
            @Html.Gravatar(commit.AuthorMailAddress)
          </td>
          <td>
            <div class="commit-message">
              @Html.ActionLink(commit.Message, "Commit", new { branch = Model.Branch, hash = commit.Hash })
            </div>
            <div class="commit-timestamp">
              <time datetime="@commit.Timestamp.ToString("yyyy-MM-ddTHH:mm:ssZ")">@commit.Timestamp</time> by @commit.AuthorName
            </div>
          </td>
        </tr>
      }
    </table>
  </div>
</div>
