@model IEnumerable<CommitMessage>
<div class="row">
  <div class="large-12 columns">
    <table style="width: 100%;">
      @foreach (var commit in Model)
      {
        <tr>
          <td>
            @Html.Gravatar(commit.AuthorMailAddress)
          </td>
          <td>
            <div class="commit-message">
              @commit.Message
            </div>
            <div class="commit-timestamp">
              <time datetime="@commit.Timestamp.ToString("yyyy-MM-ddTHH:mm:ssZ")">@commit.Timestamp</time> by @commit.AuthorName
            </div>
          </td>
        </tr>
      }
    </table>
  </div>
</div>
