@model IEnumerable<CommitMessage>

<ul class="no-bullets commits">
  @foreach (var commit in Model)
  {
    <li>
      @Html.Gravatar(commit.AuthorMailAddress)
      <div class="commit-info">
        @commit.Message
        <div class="commit-meta">
          <time datetime="@commit.Timestamp.ToString("yyyy-MM-ddTHH:mm:ssZ")">@commit.Timestamp</time> by @commit.AuthorName
        </div>
      </div>
      <div class="clearfix"></div>
    </li>
  }
</ul>

